.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.space{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    line-height: 20px;
}
.text{
    font-size: 18px;
}
.first{
    font-size: 18px;
}